<header>
    <h1>E-Commerce Site</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>            
            <li>
                <a href="/views/cart/{{cartId}}" class="cart-link">
                    Cart
                </a>
            </li>
        </ul>
    </nav>
</header>